<%- include('template/cabecera', {tituloWeb: "LaunchX" }); %>
  <div class="p-3 mb-2 bg-light text-dark">

    <h1 class="text-primary"> Titulo de mi sitio web Index </h1>

    <p>Bienvenido a mi API</p>
    <p>Por favor consulte la informacion usando en navbar</p>

    <h3 class="text-primary">
      <%= titulo %>
    </h3>

    <img width="200" height="200"
      src="https://scontent.fmid2-1.fna.fbcdn.net/v/t39.30808-6/273565397_5542086089152430_2808315852343965738_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=174925&_nc_eui2=AeEEZapyJ0o1t7HYtqRAsrAJrqlcEOpTkauuqVwQ6lORq7VrbrGFRa1nN-00mkGMEVuEMc4H30CtcbvpdrgtZ045&_nc_ohc=SNaiq-LGmKgAX98k50s&_nc_ht=scontent.fmid2-1.fna&oh=00_AT-CSmmHfUulbWwSLzZrPByMDayUrZYp3GaDXjSOP8clAg&oe=62724014">

  </div>
  <%- include('template/footer'); %>