<%- include('template/cabecera', {tituloWeb: "LaunchX" }); %>


  <h1 class="text-success"> Titulo de mi sitio web Index </h1>
  <p>Bienvenido a mi API</p>
  <p>Por favor consulte la informacion usando en navbar</p>

  <h3 class="text-primary">
    <%= titulo %>
  </h3>


  <%- include('template/footer'); %>